@use 'sass/forward' as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html {
  background-color: $gris;
}

body {
  font-family: Montserrat;
  position: relative;
}

.minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}



