@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
//vars
//tonos
$gris: #464646;

//reset
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: $gris;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Montserrat;
  position: relative;
}
a {
// color: $gris;
}
.minmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) {
    @content;
  }
}

//mixins

//nav


//clases y id
